<%- include('../partials/header');%>

<h2><b>API call: </b>There are <%=nouns.length%> nouns.</h2>
<div class="content">
  <ul>
    <% for(const noun of nouns) { %>
    <li><%=noun.article%> <%=noun.singular%></li>
    <%}%>
    <li>...</li>
  </ul>
</div>
<%- include('../partials/footer');%>
